.attendance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.status-box {
    width: 100px;
    height: 40px;
    background-color: #c8c8c8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.status-box #status-text {
    font-size: 18px;
    font-weight: bold;
}

.date-text {
    font-size: 40px;
    margin: 0;
    margin-top: 40px;
}

.time-text {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    margin-top: 40px;
}

.button-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.button-box .work-break-row {
    display: flex;
    gap: 60px;
}

.button-box button {
    width: 221px;
    height: 77px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 60px;
}

.work-btn {
    background-color: #000000;
    color: #ffffff;
}

.break-btn {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000 !important;
}

.message {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    margin-top: 60px;
}

