.header {
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__logo {
    height: 40px;
}

.header__search {
    width: 50%;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.logout-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}

.attendance-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}

.attendance-list-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}

.stamp-correction-link {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    text-decoration: none;
}

.header-nav__button {
    width: 60px;
}